<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Blog Away</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700,300,600italic,400italic,700italic,300italic' rel='stylesheet' type='text/css'>    
    
   <!-- CUSTOM SCRIPTS -->
    <link rel="stylesheet" href="/static/styles.css">
     <script src="/static/js/app.js"></script>

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/static/base.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-4">
          <h1>Blog-a-dog dog</h1>
          <div>
            <form id = "myForm">
              <input class="form-control" type ="text" id = "myText" placeholder = "Whatcha want to blog about?" >
              <br>
              <input class="btn btn-sky text-uppercase btn-lg" type = "submit" id = "myButton" value = "Push Me" >
            </form>

            <ul class="list-group">

            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
